html{
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 480px){
  html{
    font-size: 14px;
  }
  nav.desktop{
    display: none;
  }
  .colmar, .academy{
    display: none;
  }
  header .mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header.mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    }
  .main img{
    display: none;
  }
  .main .text{
  background-color: #c5c3c3;
  margin-top: 180px;
  width: inherit;
  height: 100%;
  padding-left: 16px;
  padding-bottom: 32px;
  }
  .main h1{
  font-size: 0.5rem;
  padding: 32px 0;
  }


}
header{
  width: 100%;
  height: 64px;
  display: flex;
  align-items:center;
  justify-content: space-between;
}
header .logo{
  padding-left: 24px;
  display: flex;
  align-items: center;
}
nav ul li{
  padding-right: 16px;
  color: #555555;
}
nav ul{
  list-style: none;
  display:flex;
  flex-direction: row;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}
.content{
  border: 1px solid rgba(153,153, 153, 0.6);
}
.colmar{
  color: #555555;
  font-weight: bold;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(153,153, 153, 0.6);
}
@media only screen and (max-width:480px) {
  .main{
    background-color: #999999;

  }
}
.main img{
  width: 60%;
  margin: 32px 40px 32px 24px;
}
.main .text .btn{
  padding: 8px 0;
  margin: 0 auto;
  background-color: #333333;
  text-align: center;
}
@media only screen and (max-width:480px){
  .main .text .btn{
    background-color: #999999;
  }
}
.main .btn a{
  color: white;
  text-decoration: none;
  font-size: 1rem;

}
.main h1, .main h4{
  color: #555555;
  font-weight: bold;
  display: block;
}

.main h1{
  font-size: 2rem;
  display: block;
  color: #333333;
  font-weight: 800;
  line-height: 1.2;
}

.info{
  display: flex;
  justify-content: space-between;
}
.practice{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 24px;
  width: 70%;

}
.structure{
  display: flex;
  flex-direction: column;
  width: 423px;
  padding-top: 32px;
  border-left: 1px solid rgba(153,153, 153, 0.6);
}
.practice img{
  margin-bottom: 32px;
  width: 100%;
}
.practice h1{
  font-size: 2rem;
  display: block;
  color: #333333;
  font-weight: 800;
  margin-bottom: 24px;
}
.author{
  font-size: 0.6rem;
  font-weight: bold;
}
@media only screen and (max-width:480px){
  .practice{
    display: none;

  }
}
.description{
  color: #555555;
}

.box{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;
}
@media only screen and (max-width:480px){
  .box{
    flex-direction: column;
    align-items: flex-start;
  }
  .structure{
    padding-bottom: 32px;
  }
}

.box img{
  width: 35%;
  height: auto;
  margin-top: 1rem;
}
@media only screen and (max-width:480px){
  .box img{
    padding: 16px;
    width: 90%;
    max-height: 145px;
  }
}
.box .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;

}
@media only screen and (max-width:480px){
  .box .text{
    padding-right: 16px;
    justify-content: flex-start;

  }
}
.box h4{
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #333333;
}
.box p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: #555555;
  max-width: 205.7px;
}

.box a{
  font-size: 0.8rem;
  color: #7ab5ec;
  font-weight: 500;
  text-decoration: none;
}
.guest{
  background-color: rgba(153,153, 153, 0.3);
}
.learn{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(153,153, 153, 0.3);
  width: 100%;
}
.courses{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.course{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 24px;
  margin-right: 32px;
  max-width: 310px;
}
.learn h1{
  font-size: 2rem;
  display: block;
  color: #333333;
  font-weight: 800;
  margin-bottom: 24px;
  text-align: center;
  margin: 2rem 0;
}
@media only screen and (max-width:480px){
  .learn h1{
    margin-top: 32px;
    margin-bottom: 16px;
  }
  .learn{
    background-color: inherit;
  }
  .course img, .course p, .description p{
    display: none;
    align-items: center;
    justify-content: center;
  }
  .courses{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .course{
    width: 90%;
  }
}
.course h4{
  font-size: 1.2rem;
  font-weight: bold;
  color: #333333;
  margin-top: 1rem;
}
@media only screen and (max-width:480px){
  .course h4{
    background-color: #bdbcbc;
    width: 100%;
    padding: 16px 0px 16px 16px;
    margin: 0 16px 8px 0;
  }
}
.description p{
  font-size: 0.8rem;
  margin: 0.5rem 0;
  color: #555555;
}
.course p{
  font-size: 0.8rem;
  color: #555555;
  width: inherit;
  line-height: 1.8;
}
.course h4, .course p{
  margin-left: 1rem;
}
.course img{
  max-height: 144px;
}
.thesis{
  display: flex;
  flex-direction: column;
}
.presentation{
  display: flex;
  flex-direction: row;

}

.thesis .info2{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
@media only screen and (max-width:480px){
  .thesis .info2{
    display: none;
  }
}
.section{
  display: flex;
  flex-direction: row;
  width: 423px;
  height: 168px;
  justify-content: space-around;
  align-items: center;
}

.section h4{
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #333333;
}
.section p{
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: #555555;
  max-width: 205.7px;
}
.section .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section img{
  margin: 1rem;
  height: 136px;
  width: auto;
}
.presentation{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.video{
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-bottom: 32px;
  max-width: 600px;
}
.video h4{
  font-weight: bold;
  font-size: 1.2rem;
  color: #333333;
  text-align: left;
}
.video video{
  margin-bottom: 24px;
}
@media only screen and (max-width:480px){
  .thesis{
    width: inherit;
  }
  .video p, .video h4{
    display: none;
  }
  .video video{
    width: 100%;
    height: auto;
  }
}
.thesis h1{
  font-size: 2rem;
  display: block;
  color: #333333;
  font-weight: 800;
  text-align: center;
  margin: 2rem 0;
}
.thesis p{
  font-size: 1rem;
  color: #555555;
}
.fisma{
  background-color: rgba(153,153, 153, 0.3);
}
footer{
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  border-top : 1px groove #555555;
  margin-top: 2rem;
  margin-left: 24px;
  font-size: 0.6rem;
  color: #555555;
  height: 3rem;
}
@media only screen and (max-width:480px){
  footer{
    border-top: 0px groove #555555;
  }
  footer span{
    font-size: 0.7rem;
    padding: 16px 0;
  }
  .presentation{
    justify-content: flex-start;
  }
}
footer nav ul{
  list-style: none;
  display:flex;
  flex-direction: row;
}
@media only screen and (max-width:480px){
  footer nav ul{
    display: none;
  }
}

.mobile{
  display: none;
}
